<ion-header >
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>     
        <ion-title>Reset Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="signup">
    
    
    <ion-list class="signup__form">
        
        
        <ion-item>
            <ion-label position="floating">Email *</ion-label>
            <ion-input clearInput type="email" [(ngModel)]="user.email"></ion-input>
        </ion-item>

        
        <p class="signup__form__error" *ngIf="user.error">{{user.error}}</p>

    </ion-list>  
    
    
</ion-content>


<ion-footer class="signup-footer">

    <ion-button color='primary' expand="full" class="signup-footer__button" [disabled]="user.loading" (click)="resetPassword()">
        Reset Password
        <ion-spinner *ngIf="user.loading"></ion-spinner>
    </ion-button>
</ion-footer>
