.signup{


    .signup__form{


            .signup__form__error{
                color: red;
                font-size: 12px;
                line-height: 16px;   
                text-align:Center;
            }


            .signup__form__login{
                margin-top:40px;  
                text-align:Center;
            }


        }
    
}

.signup-footer{
    background-color:white;
    
    &:before{
        display:none;
    }
    
        .signup-footer__button{

            ion-spinner{
                font-size: 14px;
                width: 14px;
                height: 14px;
                margin-left: 5px;                
            }
        }    
    
    
    
}