<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="timesheet">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>Timesheet</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="submissions">
            <ion-icon name="copy"></ion-icon>
            <ion-label>Submissions</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
