<ion-content class="login">
    
    <div>
    
        <div class="login__header">

            <img class="login__header__logo" src="assets/logo-light.png" />

        </div>




        <form (ngSubmit)="login()">
            <ion-list class="login__form">
                <ion-item class="login__form__input">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" [(ngModel)]="user.email" name="email" color="light"></ion-input>
                </ion-item>

                <ion-item class="login__form__input">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
                </ion-item>


                <ion-button color="primary" class="login__form__login-button" type="submit" [disabled]="user.loading">
                    Login
                    <ion-spinner *ngIf="user.loading" color="light"></ion-spinner>
                </ion-button>

                <p class="login__form__error" *ngIf="user.error">{{user.error}}</p>


                <p class="login__form__forgot-password"><a [routerLink]="['/forgot-password']" routerDirection="forward">Forgot Password?</a></p>



            </ion-list>
        </form>
        
    </div>
    

</ion-content>
