.timesheet-header{

.timesheet-header__business{
    pointer-events:none;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
}

.timesheet-header__logo{
    height:30px;
}

}



.timesheet{
    
    
    .timesheet__navigation{
        
        background-color:#efefef;
        display:flex;
        padding:10px 15px;
        align-items: center;
    justify-content: center;
        
        .timesheet__navigation__week{
            flex:1;
            text-align:center;
            cursor:pointer;
    margin-left: 30px;
    margin-right: 30px;
        }
        
        
        .timesheet__navigation__arrow{
                display: flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;
            ion-icon{
                font-size:20px;
            }
            
            &.timesheet__navigation__arrow--left{
                
            }
            
            &.timesheet__navigation__arrow--right{
                
            }
            
            &.timesheet__navigation__arrow--disabled{
                opacity:0;
                pointer-events:none;
            }
            
        }
        
    }
    
    .timesheet__datepicker{
        display:none !important;
    }
    
    
    .timesheet__submission{
        text-align:Center;
        margin-top:15px;
        ion-button{
            min-width:140px;
            margin:0px 5px;
            margin-top:10px;
            
        }
    }
    
    
    .timesheet__timesheets{
        margin-top:30px;
        
        padding:0px 15px;
        margin-bottom:30px;
        
        
        .timesheet__timesheets__day{
border: 2px solid #f36500;
    position: relative;
    padding: 10px 10px;
    margin-top: 15px;
    border-radius: 5px;
    color: #f36500;
    transition:opacity 150ms ease;
    cursor:pointer;
    &.timesheet__timesheets__day--current{
        background-color:#f36500;
    }
    
    &:hover, &:focus{
        opacity:0.7;
    }
    
            h6{
                margin:0px;
                text-align:Center;
            }
            
            ion-icon{
                position: absolute;
    right: 10px;
    top: calc(50% - 10px);
    font-size: 20px;
            }
        }
        
        
    }
    
    
    
    .timesheet__total-time{
        padding:0px 15px;
        text-align:center;
        margin-bottom: 30px;
        
        h6{
            margin:0px;
            font-weight:bold;
            span{
                white-space:nowrap;
            }
        }
        
        > span{
            font-size:12px;
        }
    }
    
}