    .submissions__list{
        margin-top: 5px;
        
        ion-list-header{
               
        }
        
  
        
    }
    
    .timesheet__total-time{
       padding:0px 15px;
margin-top: 20px;
    margin-bottom: 30px;
        
        h6{
            margin:0px;
            font-weight:bold;
            span{
                white-space:nowrap;
            }
        }
        
        > span{
            font-size:12px;
        }        
    }
	
	
	    
.add-timesheet-footer__button{
    margin-top:30px;
    margin-left:15px;
    margin-right:15px;

    ion-spinner{
        font-size: 14px;
        width: 14px;
        height: 14px;
        margin-left: 5px;                
    }
} 